body {
  font-family: 'Roboto', sans-serif; /* Menggunakan font Roboto dari Google Fonts */
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #777;
}

/* Tampilan daftar menu */
#menuList {
  display: none;
  text-align: center;
}

#menuList h2 {
  font-size: 24px;
}

#menuList ul {
  list-style: none;
  padding: 0;
}

#menuList ul li {
  margin: 10px 0;
}

#menuList ul li a {
  display: block;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

#menuList ul li a:hover {
  background-color: #ddd;
}
