/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* Menggunakan font Roboto dari Google Fonts */
}

header {
  background-color: #7289da; /* Warna biru Discord */
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #4f545c; /* Warna latar belakang menu */
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block; /* Mengubah menu menjadi inline-block */
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px; /* Menambahkan padding menu */
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Efek transisi hover */
}

nav ul li a:hover {
  background-color: #677bc4; /* Warna latar belakang menu hover */
}

/* Tampilan daftar menu */
#menuList {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#menuList h2 {
  font-size: 24px;
}

#menuList ul {
  list-style: none;
  padding: 0;
}

#menuList ul li {
  margin: 10px 0;
}

#menuList ul li a {
  display: block;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

#menuList ul li a:hover {
  background-color: #ddd;
}

/* Sambutan Selamat Datang */
#welcomeMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
